<%= form_tag("/users/#{@user.id}/update",{multipart: true}) do %>
<p>名前</p>
<textarea name="name"><%= @user.name %></textarea>
<p>画像</p>
<input name="image" type="file">
<p>メール</p>
<textarea name="email"><%= @user.email %></textarea>
<input type='submit' value='更新'>
<% end %>