<%= form_tag("/users/create") do %>
<p>名前</p>
<textarea name="name"></textarea>
<p>メール</p>
<textarea name="email"></textarea>
<p>パスワード</p>
<input name="password" type="password" value="<%= @user.password %>">
<input type='submit' value='登録'>
<% end %>